/* Global styles */
body {
  background-color: grey;
  background-image: url("../images/image3.jpg");
  background-size: cover;
}

/* Header styles */
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

/* Navigation button styles */
.nav-buttons {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-buttons li {
  margin-right: 10px;
}

.nav-buttons li a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.dropbtn {
  background-color: #ffa500;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-content {
  position: absolute;
  display: none;

  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;

  color: white;
  padding: 12px 16px;
  text-decoration: none;
}

/* Footer navigation styles */
.nav-foot {
  display: flex;
  justify-content: center;

  list-style-type: none;

  margin: 0;
  padding: 0;

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 30px;
}

.nav-foot li {
  margin-right: 10px;
}

.nav-foot li a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
}

/* Quote form styles */
.quote-form {
  width: 400px;
  margin-bottom: 10rem;
}

h2 {
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ffa500;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #cccccc;
  color: white;
}

button {
  background-color: #ffa500;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Social media navigator styles */
.social-media-navigator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-navigator ul {
  display: flex;
  justify-content: center;
  align-items: c;
}

.social-media-navigator li {
  margin-right: 10px;
  list-style-type: none;
}

.social-media-navigator li a {
  padding: 5px;
  border-radius: 50%;
}

.social-media-navigator li a img {
  width: 25px;
  height: 25px;
}

/* Blockquote styles */
blockquote {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 60px;
}

/* Quote form styles */
.quote-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.form-elements {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-elements h2 {
  text-align: center;
}

.table-class {
  margin-bottom: 3rem;
}

/* Table styles */
table {
  color: white;
  background-color: rgba(255, 166, 0, 0.339);
  width: 500px;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px 20px;
}

/* Radio group styles */
.radio-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin-top: 4rem;
  margin-bottom: 1rem;
}

.radio-group label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 50%;
}

.radio-group input[type="radio"] {
  width: 20%;
}

.radio-group label span {
  width: 100%;
}

.form-group {
  width: 80%;
}

button {
  margin: 0 auto;
}

/* Project gallery styles */
.project-gallery {
  text-align: center;
}

.project-gallery h2 {
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 5px 10px;
  border-radius: 20%;
}

.project-images {
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-images img {
  display: block;
  margin-bottom: 10px;
  width: 365px;
  height: 230px;
  border-radius: 20%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.saved-projects-heading {
  font-size: 60px;
  color: #ffa500;
  background-color: rgba(0, 0, 0, 0.872);
  width: max-content;
  padding: 20px;
}

.saved-project img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.fun-button {
  margin-left: 10px;
}

.heart {
  color: #ffa500;
  font-size: x-large;
  display: none;
}